
/*tausta*/
body {
    font-family: Bahnschrift SemiCondensed, sans-serif; 
    background-color: #6cabfd !important;  
    margin: 0;
    padding: 20px; 
}
/*navipalkki*/
.navbar {
    background-color: transparent; 
    border: none; 
    box-shadow: none;
}

.navbar-nav .nav-link {
    color: black; 
    font-weight: bold; 
}

.navbar-toggler {
    border: none; 
}

.navbar-light .navbar-toggler-icon {
    background-image: none; 
}
/*otsikko ja teksti*/
h1 {
    color: #0c0c0c; /
}

p {
    font-size: 16px; 
    color: #0c0c0c; /
}

/*listat*/
ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    background-color: #eaeaee; 
    padding: 8px;  
    max-width: 200px; 
    
}
/*kuvat*/
.kuva-container {
    display: flex; 
    align-items: center; 
}

.kuva {
   
    width: 400px; 
    height: auto; 
    padding: 20px; 
}
/*sisältö*/
.content {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}